//size constants
@2px: 2px;
@3px: 3px;
@12px: 12px;
@18px: 18px;
@24px: 24px;
@32px: 32px;
@56px: 56px;
@140px: 140px;
@224px: 224px;

// percentage constants
@100-per: 100%;
@80-per: 80%;


// font Size Constants
@fs-18: @18px;
@fs-24: @24px;
@fs-32: @32px;

// font weight Constants
@fw-600: 600;

// color constants
@ffffff : #ffffff; 
@4C4C4C: #4C4C4C;
@646464: #646464;
@363545: #363545;
@474655: #474655;

// icon Constants
@icon-cancel: "\e908";
@icon-arrow: "\e938";

//font family constants
@open-sans-bold-condensed: 'Open Sans Bold Condensed';
@Roboto-bold-condensed: 'Roboto bold Condensed';
@icon-family: 'icon';

//font face
@font-face {
    font-family: @open-sans-bold-condensed;
    src: url('./Fonts/Open-Sans-Bold-Condensed.ttf');
}
@font-face {
    font-family: @Roboto-bold-condensed;
    src: url('./Fonts/Roboto-Bold-Condensed.ttf');
}

@font-face {
    font-family: @icon-family;
    src: url('./Fonts/icon.ttf');
}

.icon {
    font-family: @icon-family;
    font-style: normal;
    font-weight: normal;
    &.icon-cancel {
        &:before {
            content: @icon-cancel;
        }
    }
    &.icon-arrow-left {
        &:before {
            content: @icon-arrow;
            transform: rotate(90deg);
            display: block;
        }
    }
    &.icon-arrow-right {
        &:before {
            content: @icon-arrow;
            transform: rotate(-90deg);
            display: block;
        }
    }
}