//size constants
@3px: 3px;
@12px: 12px;
@18px: 18px;
@32px: 32px;
@56px: 56px;
@224px: 224px;

// font Size Constants
@fs-18: @18px;
@fs-32: @32px;

// font weight Constants
@fw-600: 600;

// color constants
@ffffff : #ffffff; 

// icon Constants
@icons-cancel: "\e908";

//font family constants
@icon-family: 'icon';