<div style="text-align:center">
  <h3 style="margin:20px;font-size:4vw">
    swipe components
  </h3>

  <swipe-button (clicked)="clicked()"></swipe-button>
  <div class='swipe-Container'>
    <text-item-ribbon [textItems]='textItems'></text-item-ribbon><div class='dummy'></div>
  </div>
  <swipe-button-tech [isDisabled]="isDisabled"></swipe-button-tech>
  <input type="button" class='btn' value='toggle' (click)="isDisabled=!isDisabled" style="margin-left:20px;">
</div>
<!--<div class='swipe-Container'>
    <input type="button" class='btn' value='increment' (click)='clicked()'>
  </div>-->
<!--<button-demo></button-demo>-->
 <!--<div class="background">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <use xlink:href="assets/autos-state-background-right.svg#image" />
    </svg>
  </div>-->
<!--
  <div class="dummy-container">
    <autos-states-indicator [displayInCenter]="displayInCenter" [isStateInAutos]="autosState" [alignRight]="isAlignedRight">
        <i class='icon icon-arrow-left' left-icon *ngIf='left'></i>
        <i class='icon icon-arrow-right' right-icon *ngIf='right'></i>
    </autos-states-indicator>
  </div>
  <div class='row'>
    <button class='btn' (click)="autosState=!autosState">Change State</button>
    <button class='btn' (click)="left=true;right=false">left</button>
    <button class='btn' (click)="right=true;left=false">Right</button>
    <button class='btn' (click)="left=true;right=true">both</button>
    <button class='btn' (click)="isAlignedRight=!isAlignedRight">alignRight</button>
    <button class='btn' (click)="displayInCenter=!displayInCenter">DisplayinCenter</button>
  </div>
-->
<!---->
<!--<div class="dummy-container">
    <autos-state-indicator [alignCenter]='alignCenter'></autos-state-indicator>
  </div>-->
<!--
 <div class="dummy-container">
    <states-indicator [side]="'center-down'" [state]="state" [autosSide]="autoSide">
        <i class='icon icon-arrow-left' left-icon></i>
        <i class='icon icon-arrow-right' right-icon></i>
    </states-indicator>
  </div>
<div class='row'>
  <button class='btn' (click)="changeState()">click</button>
  <button class='btn' (click)="autoSide='Left'">left</button>
  <button class='btn' (click)="autoSide='right'">Right</button>
  <button class='btn' (click)="autoSide='both'">both</button>
</div> 
-->
<!-- <button-demo></button-demo>-->
<!--<app-light-bar></app-light-bar>-->

  <!-- <app-light-bar-updated></app-light-bar-updated> -->

 <!-- <div hostElement class="custom-form">
    <div>
      <num-pad [(numValue)]="value">
        <label >Enter number 1
          <input id="input1" class="input-txt" #num1="ngModel" required #inputEl [(ngModel)]="value">
          <div *ngIf="num1.touched && num1.invalid" style="color:red">
            required.
          </div>
        </label>
      </num-pad>
    </div>
    <div>
      <num-pad #numpad2 [adjustMaxHeight]="'0'"> 
        <label for="input2">Enter number 2
          <input id="input2" class="input-txt " #num2="ngModel"  required #inputEl [(ngModel)]="numpad2.numValue">
          <div *ngIf="num2.touched && num2.invalid" style="color:red">
            required.
          </div>
        </label>
      </num-pad>
    </div>
  </div>-->