 /*
 .input-txt {  
 /* border: none; 
    border-bottom: 1px solid black; 
    outline: none;
    border: 5px solid black;
    margin :10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size : 25px;
 }
 
 .custom-form {
     margin: 0;
 }
 
 .custom-form>div {
     height: 20vh;
 } */

 .dummy-container {
     width: 144px;
     margin: 10px;
     height: 32px;
     font-size: 24px;
 }
 .row{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    flex-wrap: wrap;
    button{
        margin-bottom: 10px;
    }
}
