<div style="text-align:center">
  <h1 style="margin:0;padding-top:25px;padding-bottom:25px;font-size:8vw">
    Components Hub
  </h1>
  <!--<app-light-bar></app-light-bar>-->

  <!-- <app-light-bar-updated></app-light-bar-updated>-->

  <div hostElement class="custom-form">
    <div>
      <num-pad [(numValue)]="value">
        <label >Enter number 1
          <input id="input1" class="input-txt" #num1="ngModel" required #inputEl [(ngModel)]="value">
          <div *ngIf="num1.touched && num1.invalid" style="color:red">
            required.
          </div>
        </label>
      </num-pad>
    </div>
    <div>
      <num-pad #numpad2 [adjustMaxHeight]="'0'"> 
        <label for="input2">Enter number 2
          <input id="input2" class="input-txt " #num2="ngModel"  required #inputEl [(ngModel)]="numpad2.numValue">
          <div *ngIf="num2.touched && num2.invalid" style="color:red">
            required.
          </div>
        </label>
      </num-pad>
    </div>
  </div>
</div>