<div class='row'>
    <div class="btn-wrapper">
        <div>Button Element</div>
        <button class='btn button-demo-btn' [disabled]="isDisabled">
            <i class='icon icon-cancel'></i>
            <span class='text'>cancel cancel cancel cancel cancel cancel cancel</span>
        </button>
    </div>
    <div class="btn-wrapper">
        <div>Anchor Element</div>
        <a class='btn button-demo-btn' role='button' [ngClass]="{'btn-disabled':isDisabled}">
            <i class='icon icon-cancel'></i>
            <span class='text'>cancel cancel cancel cancel cancel cancel cancel</span>
        </a>
    </div>
    <div class="btn-wrapper">
        <div> Input Element</div>
        <input type="button" class='btn button-demo-btn' [disabled]="isDisabled" value="cancel cancel cancel cancel cancel cancel cancel">
    </div>
    </div>
<div class='row'>
    <div class="btn-wrapper">
        <button class='btn button-demo-btn' [disabled]="isDisabled" >
            <i class='icon icon-cancel'></i>
            <span class='text'>cancel</span>
        </button>
    </div>
    <div class="btn-wrapper">
        <button class='btn button-demo-btn' (click)='toggle()' >
            <i class='icon icon-cancel'></i>
            <span class='text'>Toggle Button</span>
        </button>
    </div>
</div>