:host, text-item-ribbon {
    height: 88px;
    width: 100%;
    overflow: hidden;
    background: #414141;
    padding: 0 10px;
    position: relative;
    .text-items-slider {
        height: 90%;
        display: flex;
        &.sliding {
            transition: transform 500ms linear;
        }
        .text-items {
            &::after {
                content: '';
                height: 40%;
                float: right;
                border-left: 3px solid #6E6E6E;
                position: relative;
                top: 30%;
                right: 4px;
            }
        }
    }
    .active-items-indicator{
        list-style-type: none;
        display: inline-flex;
        vertical-align: top;
        li {
            height: 6px;
            width: 6px;
            margin: 0 2px;
            background: #ffffff;
            border-radius: 50%;
            &.active {
                background: #FFA500
            }
        }
    }
    .arrow {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 10px;
        display: flex;
        align-items: center;
        background-color: #6E6E6E;
        &.arrow-left {
            left: 0px;
            justify-content: flex-end;
            &::after{
                @arrow();
                border-right: 6px solid #fff;
            }
        }
        &.arrow-right {
            right: 0px;
            justify-content: flex-start;
            &::after{
                @arrow();
                border-left: 6px solid #fff;
                
            }
        }
    }
    @arrow: {
        content: '';
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        opacity: 0.6;
    };
}