.statesIndicator{
    
}


div.b {
    display: inline-flex;
    min-width: 150px;
    height: 32px;
    background-color: #00FE00;
    border-top-right-radius: 10px;
    border-top: 1.5px solid black;
    border-right: 1.5px solid black;
    transform: skewX(15deg);
}